typing-extensions==4.9.0
pytest==8.2.0
twine==5.0.0
pytest-cov==4.1.0
autoflake==2.3.0
isort==5.13.2
flake8==7.0.0
numdoclint==0.1.9
mypy==1.8.0
html-minifier==0.0.4
wheel==0.42.0
importlib-metadata==7.0.1
Sphinx==7.1.2
groundwork-sphinx-theme==1.1.1
notebook==7.1.0
pyright==1.1.350
playwright==1.41.2
myst-parser==2.0.0
black==24.2.0
blackdoc==0.3.9
tqdm==4.66.2
pytest-xdist==3.5.0