/* Basic document style settings. */

/* Inline code block style stting. */
span.pre {
    color: #e66 !important;
}

/* Link style setting. */
a {
    color: #e33 !important;
}

/* Hide side menu `This Page` section. */
div[role=note] {
    display: none;
}
