/* Basic document style settings. */

/* Inline code block style stting. */
span.pre {
    color: #e66 !important;
}

/* Link style setting. */
a {
    color: #e33 !important;
}

/* Hide side menu `This Page` section. */
div[role=note] {
    display: none;
}

/* Document heading style settings. */
div.body h1, div.body h2, div.body h3, div.body h4, div.body h5,
div.body h6 {
    border-bottom: 1px solid #aaa;
    padding-bottom: 5px;
}

/* Document subheading style settings. */
div.body h2, div.body h3, div.body h4, div.body h5,
div.body h6 {
    margin-top: 30px;
}

/* Document horizontal line style settings */
hr {
    border: 1px solid #555;
}
